.input_field {
  padding: 16px;
  width: 90%;
  height: 15px;
  border: 0;
  background: #f6f8ff;
  border-radius: 8px;
  margin-bottom: 12px;
}
.input_field::placeholder {
  width: 99px;
  height: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
