.main_plug {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_plug_icon {
  width: 100px;
  height: 100px;
  animation-name: plug-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes plug-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
